################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################
/.vs/HappyTool/v15/Server/sqlite3
/HappyAgent/bin
/HappyAgent/obj
/HappyAgent_Program/bin
/HappyAgent_Program/obj
/HappyFuture/bin
/HappyFuture/obj
/HappyTool/bin
/HappyTool/obj
/KiwoomEngin/bin
/KiwoomEngin/obj
/KiwoomFutureEngin/bin
/KiwoomFutureEngin/obj
/NetLib/bin
/NetLib/obj
/OpenCLlib/bin
/OpenCLlib/obj
/StockLibrary/bin
/StockLibrary/obj
/TestAgent/bin
/TestAgent/obj
/TestCShap/bin
/TestCShap/obj
/UtilLib/bib
/UtilLib/obj
/packages
*.dtbcache
*.dll
*.pdb
*.exe
*.cache
*.db
*.xml
*.txt
*.vspx
*.diagsession
*.config
/.vs/HappyTool/v16/Server/sqlite3
